<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

    <div id="header-container">
        <h1 style="background-color: {{color1}}; color: {{color2}}">*** Checkerboard ***</h1>
    </div>

    <div id="container">
        
        <table id="board">
            {% for r in range(0, rows) %}
                <tr>
                    {% for c in range(0, cols) %}
    
                        {% if r % 2 == 0 %}
    
                            {% if c % 2 == 0 %}
                                <td class="square" style="background-color: {{color1}};"></td>
                            {% else %}
                                <td class="square" style="background-color: {{color2}};"></td>
                            {% endif %}
    
                        {% else %}
    
                            {% if c % 2 != 0 %}
                                <td class="square" style="background-color: {{color1}};"></td>
                            {% else %}
                                <td class="square" style="background-color: {{color2}};"></td>
                            {% endif %}
    
                        {% endif %}
                        
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

    </div>
    
</body>
</html>